/*

.header container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.first_section {
    background-image: url("images/Cover/cover_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

nav {
    position: relative;
    padding: 10px 40px;
    text-align: right;
    font-size: 24px;
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

Important commands:
grid-template-columns: repeat(autofill, minmax(200px, 1fr))
grid-template-rows: 1fr

Fixed Navbar
nav {
  position: fixed;
  top: 0;
  width: 100%
]


Background image:
    background-image: url("../images/Cover/cover_page.jpg");
 */

body {
    background-color: #2c3e50;
    color: white;
    margin: auto 0;
    font-family: Lato, Helvetica, SansSerif, serif;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #2c3e50;
    text-align: right;
    text-decoration: none;
}

.main-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}


.main-nav  li {
    padding: 10px 40px;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
}

.main-nav li a {
    text-decoration: none;
}

.main-nav a:hover {
    color: #F2300F;
}

.cover-container {
    background-image: url("../images/Cover/cover_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in 4s;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 95vh;
}


.cover-container h1 {
    display: flex;
    justify-content: left;
    padding: 80px 40px;
    font-size: 6em;
    font-family: "Lato", "Helvetica", "SansSerif", serif
}


.cover-container p {
    display: flex;
    justify-content: left;
    padding: 20px 40px;
    margin: 0 10px -18px 0;
    font-size: 2.5em;
    font-family: "Lato", "Helvetica", "SansSerif", serif
}


.cover-container h3 {
    text-align: right;
    padding: 0 40px;
}

span {
    color: #F2300F;
}


.timeline-title {
    text-align: center;
    font-size: 36px;
}

section {
    padding: 20px;
    font-family: "Lato", "Helvetica", "SansSerif", serif;
}


a {
    color: white;
}

/*
Classes
 */

.intro {
    font-size: 2em;
    padding: 10px 40px 100px;
    font-family: "Lato", "Helvetica", "SansSerif", serif;
}

footer {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: inline-block;
    bottom: 0;
    width: 100%;
    margin: 0;

}



.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.container:hover {
    transform: scale(1.1);
}

.tools {
    color: #2c3e50;
    font-weight: bold;
    padding-left: 0;
}

.tools_content {
    color: #2c3e50;
    font-style: italic;
    padding-left: 2%;
}



@keyframes movedown {

    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s
}

.container:nth-child(2){
    animation-delay: 1s
}

.container:nth-child(3){
    animation-delay: 2s
}

.container:nth-child(4){
    animation-delay: 3s
}

.container:nth-child(5){
    animation-delay: 4s
}

.container:nth-child(6){
    animation-delay: 5s
}


.text-box {
    padding: 65px 25px;
    background: #fff;
    color: #2c3e50;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    font-family: "Lato", "Helvetica", "SansSerif", serif;
    transition: transform 1s ease-in;
}

.text-box:hover {
    transform: scale(1.1);
}

.left-container {
    margin-left: 0;
}

.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 47px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}


.right-container img {
    left: -20px;
    top: 34px;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #F2300F;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 800;
}


.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.material-symbols-outlined {
    color: black;
    text-align: right;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: #F2300F;
    text-align: right;
    cursor: pointer;
}

.right {
    text-align: right;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -15px
}


.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -15px
}

@media screen and (max-width: 600px) {

    .timeline {
        margin: 50px auto
    }

    .timeline:after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px
    }

    .right-container {
        left: 0;
    }

    .left-container img, .right-container img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px
    }
}


/*

Social Media Logo

 */

.icons {
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 25px
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
}

